{% extends "base.html" %}

{% block main %}
	<h1>Password change form for {{ user.username }}</h1>
	<p>You can update your user settings <a href="{% url settings %}">here</a>.</p>
	<div id="user_edit_form">
		<form action="." method="post" accept-charset="utf-8">
			{% csrf_token %}
			<table>
			{% for field in form.visible_fields %}
				<tr>
					<td>{{ field.label_tag }}:</td>
					<td>{{ field }}</td>
				</tr>
			{% endfor %}
				<tr>
					<td colspan="2"><input type="submit" value="Update &rarr;"></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}



