{% extends "base.html" %}
{% load gravatar %}

{% block main %}
	<h1>Settings for {{ user.username }}</h1> 
	<p>You can change your password <a href="{% url change_password %}">here</a>.</p>
	
	<div id="user_edit_form">
		<img class="gravatar" src="{{ request.user.email|gravatar_url }}">
	
		<form action="." method="post" accept-charset="utf-8">
			{% csrf_token %}
			<table>
			{% for field in form.visible_fields %}
				{% if forloop.first %}
					<tr style="display:none">
				{% else %}
					<tr>
				{% endif %}
						<td>{{ field.label_tag }}:</td>
						<td>{{ field }}</td>
					</tr>
			{% endfor %}
				<tr>
					<td colspan="2"><input type="submit" value="Update &rarr;"></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}
