{% extends "base.html" %}

{% block main %}
	{% if form.errors %}
		<ul class="errorlist">
			<li>You entered an invalid username or password.</li>
		</ul>
	{% endif %}
	<h1>Sign In</h1>
	<form action="{% url sign_in %}" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<table summary="Sign In" id="signin">
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
			<tr>
				<td colspan="2" class="right"><input type="submit" value="Sign In &rarr;"></td>
			</tr>
		</table>
		<input type="hidden" name="next" value="{{ next }}">
	</form>
{% endblock %}